{% extends "base.html" %}
{% block title_header %}
    Clients
{% endblock %}
{% block content%}

  <table>
    <thead>
      <tr>
        <th>Client</th>
        <th>Status</th>
        <th>Last Heartbeat</th>
      </tr>
    </thead>
    <tbody>
      {% for client in clients %}
      <tr>
        <td>
          <a href="/clients/{{client['client_id']}}">
          {{ client["client_name"] }}
          </a>
        </td>
        <td>
        {% if client["is_silenced"] %}
          🔕
        {% endif %}

        {% if client["status"] == "up" %}
          ✅ Up
        {% elif client["status"] == "down" %}
          ❌ Down
        {% else %}
          ❔ Unknown
        {% endif %}

        {% if client["is_silenced"] %}
          <br>
          <small title="Silenced until {{ client['silenced_until'] }}"> Silencing stops {{ client["remaining_silence"] }} </small>
        {% endif %}
        </td>
        <td>{{ client["alert_time"] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}