watch:

  # The time that needs to pass without receiving an alert after which Alertmanager is considered down.
  # This should be longer than the repeat_interval set in Alertmanager.
  down_interval: "5m"

  # When set to true, Alertmanager will not be considered down until it has received at least one alert.
  # This allows you to configure COS Alerter before configuring Alertmanager.
  wait_for_first_connection: true

  # The list of Alertmanager instances we are monitoring. Alertmanager instances should be
  # configured with the clientid=<clientid> &key=<clientkey> parameters.
  # eg:
  # clients:
    # clientid1:
    #   key: "clientkey1"
    #   name: "Instance Name 1"
    # clientid2:
    #   key: "clientkey2"
    #   name: "Instance Name 2"
  clients: {}

notify:

  # Destinations are any [Apprise](https://github.com/caronc/apprise) compatible service string.
  # See:
  # https://github.com/caronc/apprise/wiki/
  # https://github.com/caronc/apprise/wiki/Notify_email
  # eg:
  # destinations:
  #   - 'mailtos://user:pass@domain/?to=example-0@example.com,example-1@example.com'
  #   - 'slack://xoxb-1234-1234-4ddbc191d40ee098cbaae6f3523ada2d/#general'
  destinations: []

  # When Alertmanager is down, the amount of time between notifications.
  repeat_interval: "1h"


# The logging level of COS Alerter
# Levels available: critical, error, warning, info, debug
log_level: "info"

# The address to listen on for http traffic.
# Format HOST:PORT
web_listen_addr: "0.0.0.0:8080"
